[submodule "frontend"]
	path = frontend
	url = https://github.com/hadishamoun1/vesti-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/hadishamoun1/vesti-backend.git
[submodule "app"]
	path = app
	url = https://github.com/hadishamoun1/vesti-app.git
